* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
}

.background {
    width: 100%;
    height: 100%;
    position: fixed;
    background-image: linear-gradient(rgba(65, 121, 134, 0.5), rgba(255, 136, 0, 0.5), rgba(243, 10, 10, 0.5)), url("../img/background.jpg");
    display: flex;
    justify-content: center;
    z-index: -2;
    background-size: 130%;
}

#navBar {
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
}

.logo {
    width: 30%;
    height: 100%;
    background-image: url("../img/logo-removebg-preview.png");
    background-position: center;
    background-size: 80%;
}

.navigation {
    width: 70%;
    height: 50px;
    font-size: 1.7rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: ivory
}

ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    background-color: rgb(65, 121, 134);
    border-radius: 15%;
    border: 2px solid rgb(255, 0, 0);
}

li {
    text-decoration: none;
}

li:hover {
    text-decoration: underline;
    letter-spacing: 2ch;
    transition: 1000ms;
}

#navBar2 {
    width: 100%;
    height: 180px;
    background-color: rgb(43, 226, 52);
    z-index: 15;
    position: fixed;
    top: 0;
}

.lineInfo {
    width: 100%;
    height: 30%;
    background-color: rgb(65, 121, 134);
}

.lineLogoNavBar {
    width: 100%;
    height: 70%;
    background-color: white;
}

#contain {
    margin-top: 200px;
    width: 100%;
    height: 4800px;
    z-index: 5;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    width: 100%;
    height: 150px;
    background-color: rgb(65, 121, 134);
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 5.5rem;
    color: ivory;
    font-family: 'Comforter Brush', cursive;
    font-family: 'Outfit', sans-serif;
    font-family: 'Praise', cursive;
}

#contain2 {
    width: 95%;
    height: 4800px;
    z-index: 5;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.boxIntro {
    width: 100%;
    height: 800px;
    background-image: linear-gradient(45deg, rgba(65, 121, 134, 0.7), rgba(255, 136, 0, 0.7), rgba(243, 10, 10, 0.7)), url("../img/backgroundIntro.jpg");
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 2%;
}

.boxImgIntro {
    width: 97%;
    height: 60%;
    background-image: url("../img/imgBoxIntro.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 2px 2px black;
}

.textIntro {
    width: 45%;
    height: 90%;
    background-color: rgba(128, 128, 128, 0.521);
    color: ivory;
    margin-left: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.3rem;
}

.imgIntro {
    width: 46%;
    height: 93%;
    background-color: rgba(128, 128, 128, 0.507);
    margin-right: 2%;
}

.boxInfo {
    width: 100%;
    height: 800px;
    background-color: rgb(255, 0, 0);
}

.boxInfo2 {
    width: 100%;
    height: 800px;
    background-color: rgb(220, 240, 38);
}

.boxInfo3 {
    width: 100%;
    height: 800px;
    background-image: url("../img/R.7b4b87e0bae38b4347fcab9c96e74bee.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.imgLiner {
    width: 100%;
    height: 400px;
    display: flex;
}

#img {
    width: 25%;
    height: 100%;
    background-image: url("../img/splash-removebg-preview.png");
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
    transition: 3000ms;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: ivory;
}

#imgBig {
    width: 25%;
    height: 100%;
    background-image: url("../img/splash-removebg-preview.png");
    background-size: 130%;
    background-position: center;
    background-repeat: no-repeat;
    transition: 3000ms;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 2.5rem;
    color: ivory;
}

#img2 {
    width: 25%;
    height: 100%;
    background-image: url("../img/splash-removebg-preview.png");
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
    transition-delay: 500ms;
    transition-duration: 3000ms;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: ivory;
}

#imgBig2 {
    width: 25%;
    height: 100%;
    background-image: url("../img/splash-removebg-preview.png");
    background-size: 130%;
    background-position: center;
    background-repeat: no-repeat;
    transition-delay: 500ms;
    transition-duration: 3000ms;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: ivory;
    font-size: 2.5rem;
}

#img3 {
    width: 25%;
    height: 100%;
    background-image: url("../img/splash-removebg-preview.png");
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
    transition-delay: 1500ms;
    transition: 3000ms;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: ivory;
}

#imgBig3 {
    width: 25%;
    height: 100%;
    background-image: url("../img/splash-removebg-preview.png");
    background-size: 130%;
    background-position: center;
    background-repeat: no-repeat;
    transition-delay: 1500ms;
    transition: 3000ms;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: ivory;
    font-size: 2.5rem;
}

#img4 {
    width: 25%;
    height: 100%;
    background-image: url("../img/splash-removebg-preview.png");
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
    transition-delay: 1000ms;
    transition: 3000ms;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: ivory;
}

#imgBig4 {
    width: 25%;
    height: 100%;
    background-image: url("../img/splash-removebg-preview.png");
    background-size: 130%;
    background-position: center;
    background-repeat: no-repeat;
    transition-delay: 1000ms;
    transition: 3000ms;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: ivory;
    font-size: 2.5rem;
}

.boxEnd {
    width: 100%;
    height: 800px;
    background-color: rgb(42, 165, 159);
}